
venv
*.pyc
.DS_store
.env
*.ipynb
data/*
.idea/

_temp/
Rfiles/.Rproj.user/
nucluster/errors/
nucluster/outputs/
emodl/
!simplemodel_testing.emodl
!README.md
!nu_undergrad_ct.emodl
!nu_undergrad.emodl
*.png
.Rproj.user
testrun/log.txt
testrun/trajectories.csv
*.pdf
testrun/load path instructions.txt
testrun/Package_install_progress.txt
.Rhistory
python
Rfiles/.RData
