
venv
*.pyc
.DS_store
.env
*.ipynb
data/*
.idea/

_temp/
Rfiles/.Rproj.user/
nucluster/errors/
nucluster/outputs/
Rfiles/estimate_Rt/from_simulations/
Rfiles/estimate_Rt/using default mean si/
Rfiles/old/
emodl/extendedmodel_age8_criticaldet_triggeredrollback.emodl
emodl/extendedmodel_age8_criticaldet_triggeredrollbackdelay.emodl
emodl/extendedmodel_age8_dAsP.emodl
emodl/extendedmodel_age8_dAsP_TD.emodl
emodl/extendedmodel_age8_dAsPSym.emodl
emodl/extendedmodel_age8_dAsPSym_TD.emodl
emodl/extendedmodel_age8_dSym.emodl
emodl/extendedmodel_age8_dSym_TD.emodl
emodl/extendedmodel_age8_gradual_reopening_region_specific.emodl
emodl/extendedmodel_age8_hospdet_triggeredrollback.emodl
emodl/extendedmodel_age8_hospdet_triggeredrollbackdelay.emodl
emodl/extendedmodel_age8_interventionSTOPadj.emodl
emodl/extendedmodel_age8_reopen_changeTD.emodl
emodl/extendedmodel_age8_reopen_dAsP.emodl
emodl/extendedmodel_age8_reopen_dAsP_TD.emodl
emodl/extendedmodel_age8_reopen_dAsPSym.emodl
emodl/extendedmodel_age8_reopen_dAsPSym_TD.emodl
emodl/extendedmodel_age8_reopen_dSym.emodl
emodl/extendedmodel_age8_reopen_dSym_TD.emodl
emodl/extendedmodel_age8_reopen_rollback.emodl
emodl/extendedmodel_age8_rollback.emodl
emodl/extendedmodel_changeTD.emodl
emodl/extendedmodel_critical_triggeredrollback.emodl
emodl/extendedmodel_criticaldet_triggeredrollback.emodl
emodl/extendedmodel_dAsP.emodl
emodl/extendedmodel_dAsP_TD.emodl
emodl/extendedmodel_dAsPSym.emodl
emodl/extendedmodel_dAsPSym_TD.emodl
emodl/extendedmodel_dSym.emodl
emodl/extendedmodel_dSym_TD.emodl
emodl/extendedmodel_EMS_changeTestDelay.emodl
emodl/extendedmodel_EMS_criticaldet_triggeredrollbackonoff.emodl
emodl/extendedmodel_EMS_truncated.emodl
emodl/extendedmodel_gradual_reopening.emodl
emodl/extendedmodel_hosp_triggeredrollback.emodl
emodl/extendedmodel_hospdet_triggeredrollback.emodl
emodl/extendedmodel_interventionStop.emodl
emodl/extendedmodel_interventionSTOPadj.emodl
emodl/extendedmodel_neverSIP.emodl
emodl/extendedmodel_reopen_changeTD.emodl
emodl/extendedmodel_reopen_dAsP.emodl
emodl/extendedmodel_reopen_dAsP_TD.emodl
emodl/extendedmodel_reopen_dAsPSym.emodl
emodl/extendedmodel_reopen_dAsPSym_TD.emodl
emodl/extendedmodel_reopen_dSym.emodl
emodl/extendedmodel_reopen_dSym_TD.emodl
emodl/extendedmodel_reopen_rollback.emodl
emodl/extendedmodel_rollback.emodl
emodl/model_versions/extendedmodel_cobey.emodl
*.png
