*.pyc
.idea/
.venv/
COMPS_log.log
*.png
*.
wo.json
ClimateGenerator_Log.log
SpatialClusteripdfng_BF/SpatialClustering_BF.html
*.Rhistory
*.html
simulation/itn_calibration/banfora_ITN_year_reduction_no_net.pdf
simulation/itn_calibration/banfora_ITN_year_reduction_no_net_block_061.pdf
simulation/itn_calibration/banfora_ITN_year_reduction_no_net_block_086.pdf
simulation/itn_calibration/banfora_ITN_year_reduction_old.pdf
simulation/itn_calibration/banfora_ITN_year_reduction_old_block_071.pdf
Code to compare string/.RData
Code to compare string/compare_string.R
.Rproj.user
